.links li{
        display: inline;
        margin-left: 10px;
        color: rgb(55, 56, 103);
      }

.links{
    margin-top: 3%;
    margin-bottom:1%;
    margin-left: 87%;
}
.header-bar{
    border-style:solid;
    border-width:1px;
    border-color:rgb(55, 56, 103);
    margin-left: 20%;
    margin-right: 5%;
    position: relative;
}
.title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 65px;
font-weight: bold;
color: rgb(55, 56, 103);
margin-top: 3%;
    margin-bottom:1%;
margin-left: 20%;
text-shadow: 2px 2px 4px #373867;
}

.sidebar{
    background-color: rgb(175, 175, 194);
    position: fixed;
    margin-right: 83%;
    top: 0px;
    bottom: 0px;
}
.icon{
    color: rgb(55, 56, 103);
    margin-left: 80%;
    margin-top: 10%;
    font-size: 30px;
}

.menu p{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 20px;
color: rgb(55, 56, 103);
font-weight: bold;
margin-left: 10%;
margin-top: 1%;
}
.menu ul{
    margin-top: 10%;
}
.menu li{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 15px;
color: rgb(55, 56, 103);
margin-left: 20%;
margin-top: 5%;
}
.line1{
    border-style:solid;
    border-width:1px;
    border-color:rgb(55, 56, 103);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
    position: relative;
}
.get-in-touch p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: rgb(55, 56, 103);
    font-weight: bold;
    margin-left: 10%;
    margin-top: 15%;
}
.get-in-touch ul{
    margin-top: 10%;
}
.get-in-touch li{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 15px;
color: rgb(55, 56, 103);
margin-left: 20%;
margin-top: 5%;
}
.line2{
    border-style:solid;
    border-width:1px;
    border-color:rgb(55, 56, 103);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
}
.track h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 27px;
color: rgb(55, 56, 103);
margin-left: 10%;
margin-top: 13%;
}
.track p{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(55, 56, 103);
    margin-top: 15%;
    margin-left: 25%;
    margin-right: 25%;
    line-height: 20px;
    text-align: justify;
}
.content1{
    margin-bottom: 20%;
}

.content1 h2{
    font-size: 27px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(55, 56, 103);
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 25%;
    line-height: 20px;
    text-shadow: 2px 2px 4px #373867;

}
.content1 p{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(55, 56, 103);
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 43%;
    line-height: 25px;
    text-align: justify;
}
.content1 a{
    position: absolute;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20%;
    margin-top: 5%;
    font-weight: bolder;
    color: rgb(55, 56, 103);
    text-transform:uppercase;
    background-color: #fff;
    padding: 12px 60px;
    border: 2px solid #373867;
    border-radius: 5px;
    text-decoration: none;
}
.content1 img{
    position: absolute;
    display: inline-block;
    top: 16%;
    width: 30%;
    height: 75%;
    margin-left: 65%;
}
.history{
    margin-left: 20%;
    margin-right: 10%;
}
.history h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 65px;
font-weight: bold;
color: rgb(55, 56, 103);
text-shadow: 2px 2px 4px #373867;
}
.history img{
    margin-top: 3%;
    width: 30%;
}
.history p{
    position: absolute;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(55, 56, 103);
    top: 126%;
    margin-left: 23%;
    margin-right: 7%;
    line-height: 25px;
    text-align: justify;
}

.history1 p{
    position: absolute;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(55, 56, 103);
    top: 158%;
    margin-left: 20%;
    margin-right: 8%;
    line-height: 25px;
    text-align: justify;
}
.history2 img{
    margin-top: 4%;
    width: 22%;
    margin-left: 73%;
}
.history2 p{
    position: absolute;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(55, 56, 103);
    top: 165%;
    margin-left: 20%;
    margin-right: 28%;
    line-height: 25px;
    text-align: justify;
}

.function{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 65px;
    font-weight: bold;
    color: rgb(55, 56, 103);
        margin-top:6%;
        margin-left: 20%;
    text-shadow: 2px 2px 4px #373867;
}
.recordimg{
    margin-left: 20%;
    margin-top: 7%;
}
.record h3{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: rgb(55, 56, 103);
    margin-left: 35%;
    top: 230%;
}
.record p{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: rgb(55, 56, 103);
    margin-left: 35%;
    margin-right: 50%;
    top: 234%;
    line-height: 22px;
    text-align: justify;
}
.resoimg{
    margin-left: 20%;
    margin-top: 5%;
}
.reso h3{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: rgb(55, 56, 103);
    margin-left: 35%;
    top: 259%;
}
.reso p{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: rgb(55, 56, 103);
    margin-left: 35%;
    margin-right: 50%;
    top: 263%;
    line-height: 22px;
    text-align: justify;
}
.reportsimg{
    position: absolute;
    margin-left: 60%;
    top:230%;
}
.reports h3{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: rgb(55, 56, 103);
    margin-left: 75%;
    top: 230%;
}
.reports p{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: rgb(55, 56, 103);
    margin-left: 75%;
    margin-right: 10%;
    top: 234%;
    line-height: 22px;
    text-align: justify;
}
.rolsimg{
    position: absolute;
    margin-left: 60%;
    top: 259%;
}
.rols h3{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: rgb(55, 56, 103);
    margin-left: 75%;
    top: 259%;
}
.rols p{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: rgb(55, 56, 103);
    margin-left: 75%;
    margin-right: 10%;
    top: 263%;
    line-height: 22px;
    text-align: justify;
}
.reasons{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 65px;
    font-weight: bold;
    color: rgb(55, 56, 103);
    margin-top:6%;
    margin-left: 20%;
    text-shadow: 2px 2px 4px #373867;
}
.productimg{
    margin-left: 20%;
    margin-top: 7%;
}
.product h3{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: rgb(55, 56, 103);
    margin-left: 35%;
    top: 313%;
}
.product p{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: rgb(55, 56, 103);
    margin-left: 35%;
    margin-right: 50%;
    top: 317%;
    line-height: 22px;
    text-align: justify;
}
.workimg{
    margin-left: 20%;
    margin-top: 5%;
}
.work h3{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: rgb(55, 56, 103);
    margin-left: 35%;
    top: 342%;
}
.work p{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: rgb(55, 56, 103);
    margin-left: 35%;
    margin-right: 50%;
    top: 346%;
    line-height: 22px;
    text-align: justify;
}
.decisionimg{
    position: absolute;
    margin-left: 60%;
    top:313%;
}
.decision h3{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: rgb(55, 56, 103);
    margin-left: 75%;
    top: 313%;
}
.decision p{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: rgb(55, 56, 103);
    margin-left: 75%;
    margin-right: 10%;
    top: 317%;
    line-height: 22px;
    text-align: justify;
}
.leaderimg{
    position: absolute;
    margin-left: 60%;
    top: 342%;
}
.leader h3{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: rgb(55, 56, 103);
    margin-left: 75%;
    top: 342%;
}
.leader p{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: rgb(55, 56, 103);
    margin-left: 75%;
    margin-right: 10%;
    top: 346%;
    line-height: 22px;
    text-align: justify;
}
.inform{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 65px;
    font-weight: bold;
    color: rgb(0, 0, 0);
        margin-top: 8%;
        margin-left: 40%;
}
.linep{
    border-style:solid;
    border-width:2px;
    border-color:rgb(245, 106, 106);
    margin: 1%;
    margin-left: 50%;
    margin-right: 35%;
    position: relative;
}
input, select, textarea{
    margin-bottom: 90px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    padding: 8px 20px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0,0,0.30);

}
input[type="text"]{
    width: 27%;
    margin-left: 22%;
    margin-top: 5%;
}
input[type="email"]{
    width: 27%;
    margin-left: 13%;
    margin-top: 5%;

}
textarea{
    width: 70%;
    height: 320px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
    margin-left: 22%;
    padding-top: 22px;
    resize: none;
}
select{
    width: 72%;
    margin-left: 18.7%;
}
.email-checkbox{
    position: absolute;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 65%;
    top: 405%;
}
.human-checkbox{
    position: absolute;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 83.5%;
    top: 465%;
}
.send-bottom [type="submit"]{
    position: absolute;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 83.5%;
    margin-top: 3%;
    font-weight: bolder;
    text-transform:uppercase;
    background-color: #f56a6a;
    color: white;
    padding: 8px 25px;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
}

.list1{
    position: absolute;
    margin-left: 32%;
    margin-top: 10%;
    color: #373867;

}
.list1 h3{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-top: 7%;
}
.list1 li{
    list-style: auto;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 4px;
    margin-left: 17%;
}
.list2{
    position: absolute;
    margin-left: 56%;
    margin-top: 10%;
    color: #373867;
}
.list2 h3{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-top: 7%;
}
.list2 li{
    list-style: auto;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 4px;
    margin-left: 20%;
}
.list3{
    position: absolute;
    margin-left: 80%;
    margin-top: 10%;
    color: #373867;
}
.list3 h3{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-top: 7%;
}
.list3 li{
    list-style: auto;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 4px;
    margin-left: 25%;
}
.footer-bottom{
    position: absolute;
    display: inline;
    margin-left: 49%;
    margin-top: 22%;
}
.footer-bottom [name="prev"]{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    text-transform:uppercase;
    background-color: white;
    color: #373867;
    padding: 5px 15px;
    border: 2px solid #373867;
    border-radius: 5px;
    text-decoration: none;
}
.footer-bottom [name="next"]{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    text-transform:uppercase;
    background-color: white;
    color: #373867;
    padding: 5px 15px;
    border: 2px solid #373867;
    border-radius: 5px;
    text-decoration: none;
}
.footer-bottom [name="button"]{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    text-transform:uppercase;
    background-color: white;
    color: #373867;
    text-decoration: none;
    margin-left: 8px;
    margin-right: 8px;
}
.links2 li{
    display: inline;
    margin-left: 10px;
    color: rgb(55, 56, 103);
}

.links2{
    position: absolute;
    margin-top: 2%;
    margin-bottom: 20%;
    margin-left: 55%;
}
footer{
    border-top: #373867 2px solid;
    margin-top: 25%;
    padding-bottom: 5%;
}
footer p{
    margin-left: 56.3%;
    margin-top: 4%;
}
