
.firts-page{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding-top: 110px;
    justify-content: space-around;
}
.firts-page img{
    display: flex;
}
.content h2{
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(55, 56, 103);
    line-height: 20px;
    text-shadow: 2px 2px 4px #373867;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}
.content h3{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(55, 56, 103);
    display: flex;
    justify-content: center;
    padding: 15px 0;
}
.content p{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(55, 56, 103);
    line-height: 18px;
    text-align: justify;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.learn-more{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.content a{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    color: rgb(55, 56, 103);
    border: 2px solid #373867;
    border-radius: 5px;
    background-color: #fff;
    padding: 8px 15px;  
    text-decoration: none;
    display: flex;
    justify-content: center;   
}
.history{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5% 5%;
}

.first-p h3{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(55, 56, 103);
    line-height: 18px;
    text-align: justify;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.first-p p{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(55, 56, 103);
    line-height: 18px;
    text-align: justify;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.more-01{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.more-01 a{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    color: rgb(55, 56, 103);
    border: 2px solid #373867;
    border-radius: 5px;
    background-color: #fff;
    padding: 8px 15px;  
    text-decoration: none;
    display: flex;
    justify-content: center; 
}
.img-02{
    margin-top: 25px;
}
.second-p h3{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(55, 56, 103);
    line-height: 18px;
    text-align: justify;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.second-p p{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(55, 56, 103);
    line-height: 18px;
    text-align: justify;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.more-02{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.more-02 a{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    color: rgb(55, 56, 103);
    border: 2px solid #373867;
    border-radius: 5px;
    background-color: #fff;
    padding: 8px 15px;  
    text-decoration: none;
    display: flex;
    justify-content: center; 
}

.function{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.function h2{
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(55, 56, 103);
    text-shadow: 2px 2px 4px #373867;
    padding: 10px 9%;
    display: flex;
    justify-content: center;
    width: 100%;
}
.function h3{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(55, 56, 103);
    line-height: 18px;
    font-weight: bold;
    display: flex;
    padding-bottom: 5px;
    margin: 3%;

}
.function p{
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(55, 56, 103);
    line-height: 12px;
    text-align: justify;
    display: flex;
    margin: 3% 8% 3% 3%;

}
.record, .reso, .reports, .rols{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.function img{
    width: 40%;
    height: auto;
}

.reasons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.reasons h2{
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(55, 56, 103);
    text-shadow: 2px 2px 4px #373867;
    padding: 10px 9%;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5% 0 2% 0;
    text-align: center;

}
.reasons h3{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(55, 56, 103);
    line-height: 18px;
    font-weight: bold;
    display: flex;
    padding-bottom: 5px;
    margin: 3%;

}
.reasons p{
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(55, 56, 103);
    line-height: 12px;
    text-align: justify;
    display: flex;
    margin: 3% 8% 3% 3%;

}
.product, .work, .decision, .leader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.reasons img{
    width: 40%;
    height: auto;
}
.recuest-start{
    display: flex;
    justify-content: space-around;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 7px;
    margin-top: 7%;
    margin-bottom: 4%;
}
.recuest-start h2{
    border-top: #F11A41 2px solid;
    border-bottom: #F11A41 2px solid;
    padding: 10px;
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
form [type="text"]{
    display: flex;
    margin-top: 6%;
    width: 80%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    background-color: #F6F3F3;
}
form .category{
    display: flex;
    justify-content: center;
    margin-top: 6%;
    width: 80%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    }
form [type="textarea"]{
    display: flex;
    margin-top: 6%;
    width: 80%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 2%;
    padding-bottom: 80%;
    border-radius: 8px;
    background-color: #F6F3F3;

}
form .robot-checkbox{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    margin-top: 15px;
}
form .send-bottom{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    color: rgb(55, 56, 103);
    border: 2px solid #373867;
    border-radius: 5px;
    background-color: #fff;
    padding: 4px 7px 4px 7px;  
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 13px;
}
select{ 
    width: 100% 
}

.final-list{
    display: flex;
    flex-direction: column;
    padding-top: 8%;
    padding-left: 15%;
}
.final-list h3{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-bottom: 2px #373867 solid ;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-right: 35%;
    color: #373867
}
.final-list li{
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 5%;
}
.list1, .list2, .list3{
    padding-bottom: 10%;
}




@media screen and (min-width: 768px){
    .firts-page{
        display: flex;
        margin-left: 20%;
        
    }
    .content{
        width: 50%;

    }
    .history{
        display: flex;
        margin-left: 20%;
    }
    .first-p{
        width: 50%;
    }
    .second-p{
        width: 50%;
    }
    .second-p h3{
        margin-top: 25px;
    }
    .function{
        display: flex;
        margin-left: 20%;
    }
    .record, .reso, .reports, .rols{
        width: 40%;
    }
    .record-leters, .reso-leters, .reports-leters, .rols-leters{
        width: 50%;
    }
    .reasons{
        display: flex;
        margin-left: 20%;
    }
    .product, .work, .decision, .leader{
        width: 40%;
    }
    .product-leters, .work-leters, .decision-leters, .leader-leters{
        width: 50%;
    }
    .recuest-start{
        display: flex;
        margin-left: 20%;
    }
    form{
        display: flex;
        margin-left: 20%;
    }
    form .robot-checkbox{
        margin-left: 9%;
    }
    form input[type="text"]{
        width: 30%;
        margin-left: 5%;
        margin-right: 5%;
    }
    form [type="textarea"]{
        padding-bottom: 10%;
    }
    .final-list{
        display: flex;
        flex-direction: row;
        margin-left: 20%;
        justify-content: space-around;
        padding-top: 10%;
    }
    .list3{
        margin-right: 25%;
    } 
    .final-list h3{
        margin-right: 0;
        padding-right: 20px;
    }   
    .final-list li{
        padding-top: 20%;
    } 
    .list1, .list2, .list3{
        padding-bottom: 5%;
    }
}